#!/usr/bin/zsh

# config for herbstluftwm

typeset -a cmds=()

function hc() { cmds+=("X" "$@") }

hc lock

# rules
hc unrule -F

hc rule focus=on # normally focus new clients
hc rule floatplacement=smart

# Clients with fixed tags
hc rule class=Code                tag=3 switchtag=on
hc rule class=Clementine          tag=8
hc rule class=firefox             tag=5
hc rule class~"Gimp.*"            tag=4 switchtag=on
hc rule class="Inkscape"          tag=4 switchtag=on
hc rule class="Sxiv"              tag=4 switchtag=on
hc rule class=org.remmina.Remmina tag=9
hc rule class="Virt-manager"      tag=9 switchtag=on 

# floating clients
hc rule class=Galculator    floating=on floatplacement=center
hc rule class=Gcolor3       floating=on floatplacement=center
hc rule class=Gucharmap     floating=on floatplacement=smart
hc rule class=gl            floating=on floatplacement=smart
hc rule class=Lxappearance  floating=on floatplacement=smart
hc rule class=matplotlib    floating=on floatplacement=smart
hc rule class=Matplotlib    floating=on floatplacement=smart
hc rule class=mpv           floating=on floatplacement=center
hc rule class=Seahorse      floating=on floatplacement=center
hc rule class=Xfce4-power-manager-settings      floating=on floatplacement=center

hc rule windowtype~'_NET_WM_WINDOW_TYPE_(DIALOG|UTILITY|SPLASH)' floating=on floatplacement=center
hc rule windowtype='_NET_WM_WINDOW_TYPE_DIALOG' focus=on
hc rule windowtype~'_NET_WM_WINDOW_TYPE_(NOTIFICATION|DOCK|DESKTOP)' manage=off

hc unlock

herbstclient chain ${cmds}

echo ${cmds} > $HOME/.config/herbstluftwm/cmds.rules
